<!-- If there are any posts -->
<% if @posts.any? %>
	<section class='row' >
		<!-- for each one of those posts -->
		<%= render @posts %>
	</section>



	<!-- otherwise tell the user there are no posts -->
	<% else %>
		No posts yet
	<% end %>
	<!-- display a link to allow the user to add a new post -->
	<%= link_to new_post_path, class: 'btn btn-lg btn-success' do %>
		New post<span class="glyphicon glyphicon-pencil"></span>
<% end %>
