/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	margin-top: 60px;
/*	background: no-repeat center center fixed;
	background-size: cover;
*/	}

img {
	width: 100%;
}

h2 {
	margin-top: 60px;
}

.row {
	margin-top: 150px;
}
button#new-post-modal {
	position: absolute;
	left: 50%;
	margin-left: -68px;
	top: 18%;
}
p.no-posts {
	position: fixed;
	font-size: 24px;
	color: white;
	top: 34%;
	left: 50%;
	margin-top: -17px;
	margin-left: -183px;
}
a.btn.btn-lg.btn-primary {
	position: fixed;
	left: 50%;
	margin-left: -68px;
	top: 18%;
}

a#map-tag {
	float: right;
	border-radius: 3px;
	background-color: #DF8523;
	border: 1px solid #855611;
	color: black;
	font-weight: 400;
}

/*------ Navbar -------*/
div#navbar-container {
	height: 70px;
}
a.navbar-brand {
	font-size: 2em;
	vertical-align: middle;
	line-height: 40px;
}
.logged-in-message {
	display: inline-block;
	color: white;
	margin-right: 20px;
}
form.navbar-form.navbar-right {
	vertical-align: middle;
	line-height: 51px;
}
	a#log-in {
		text-decoration: none;
		color: white;
		font-size: 1.3em;
		margin-right: 10px;
	}
	a#sign-up {
		text-decoration: none;
		color: white;
		font-size: 1.3em;
		margin-right: 10px;
	}
	a#sign-out {
		text-decoration: none;
		color: white;
		font-size: 1.3em;
	}

/*----- Post new form ------*/

form#new_post {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 18px;
	border-radius: 8px;
	font-size: 1.2em;
	border: 1px solid #B9B9B9;
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -275px;
	background-color: #fbfbfb;
}
form#new_post:hover {
	background-color: #F8F8F8;
	}
label#new-post-label {
	margin-top: 10px;
	margin-bottom: 1px;
	font-size: 1.2em;
}
input#new-post-input {
	border-radius: 3px;
	font-size: 1.1em;
	width: 100%;
	border:1px solid #DEDEDE;
	height: 40px;
	margin-bottom: 5px;
	padding-left: 5px;
}
input#new-post-input:focus {
	outline: none;
}
input#new-post-submit {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 18px;
}
input#choose-picture-button {
	font-size: 0.8em;
}

/*----- Sign up modal ------*/
div.modal-header {
	background-color: #222222;
	color: white;
}
	button.close{
		color: white;
	}
	button.close:hover{
		color: white;
	}

#sign-up-label {
	font-size: 1.2em;
}
input#sign-up-input {
	border-radius: 3px;
	font-size: 1.2em;
	width: 100%;
	border:1px solid #DEDEDE;
	height: 40px;
	margin-bottom: 5px;
	padding-left: 5px;
}
input#sign-up-input:focus {
	outline: none;
}

/*----- Log in modal ------*/

#log-in-label {
	font-size: 1.2em;
}
input#log-in-input {
	border-radius: 3px;
	font-size: 1.2em;
	width: 100%;
	border:1px solid #DEDEDE;
	height: 40px;
	margin-bottom: 5px;
	padding-left: 5px;
}
input#log-in-input:focus {
	outline: none;
}




